<div class="modal fade" id="modalPasswordRequestForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Password Recovery</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <form action="{{ url_for('auth.reset_password_request') }}" method="post">
                    {{ reset_request_form.csrf_token }}
                    <div class="md-form mb-3 text-center">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        {{ reset_request_form.email(size=64, class_='form-control validate w-75 d-inline', id='email', type='email', placeholder='email') }}<br>
                        {% for error in reset_request_form.email.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        {{ reset_request_form.submit(class_='btn btn-default') }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
