{% extends "base.html" %}

{% block app_content %}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-5 mx-auto">
            <form action="" method="post">
                {{ form.csrf_token }}
                <div class="md-form mb-3 text-center">
                    <i class="fas fa-lock prefix grey-text"></i>
                    {{ form.password(size=32, class='form-control w-75 d-inline', id='password', type='password', placeholder='new password') }}
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="md-form mb-3 text-center">
                    <i class="fas fa-lock prefix grey-text"></i>
                    {{ form.password2(size=32, class_='form-control w-75 d-inline', id='password2', type='password', placeholder='repeat new password') }}
                    {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    {{ form.submit(class_='btn btn-default') }}</p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}